.employee-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 1rem 0;
    background-color: #4b4b4b;
    color: white;
  }
  
  .li{
    list-style: none;
    list-style-type: none;
  }

  .column-wrapper{
    width: 20%;
    margin-right: 5rem;
    justify-content: center;
  }