.employee-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 1rem 0;
    background-color: #4b4b4b;
    color: white;
  }
  
  .li{
    list-style: none;
    list-style-type: none;
  }

  .column-wrapper{
    width: 20%;
    margin-right: 4rem;
    justify-content: center;
    overflow-x: auto;
  }


  body.active-popUp {
      overflow-y: hidden;
  }

  .popUp, .overlay {
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: fixed;
  }

  .overlay {
      background: rgba(49,49,49,0.8);
  }
  .pop-content {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      line-height: 1.4;
      background: #f1f1f1;
      padding: 14px 28px;
      border-radius: 3px;
      max-width: 600px;
      min-width: 300px;
  }

.close-pop {
    position: absolute;
    top: 12px;
    right: 10px;
    padding: 7px;
    border-radius: 4px;
    border: 1px solid lightgrey;
    font-size : 1rem;
    margin-right: 10px
}

.action{
  /* top: 10px;
  right: 10px; */
  padding: 7px;
  border-radius: 4px;
  border: 1px solid lightgrey;
  font-size : 1rem;
  margin-right: 10px;
  margin-top: 10px
}

.edit-list-wrapper{
  list-style: none;
}

.edit-input-wrapper{
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
  font-size: 1rem;
  width: 90%;
  padding: 8px;
  border: 1px solid lightgrey;
}


  @media (max-width: 900px){
    .employee-item{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      background-color: #4b4b4b;
      color: white;
    }

    .column-wrapper{
      width: 20%;
      margin-right: 2rem;
      justify-content: center;
    }

  }

  
@media (max-width: 600px){
  .employee-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #4b4b4b;
    color: white;  
  }
  .column-wrapper{
    width: 20%;
    justify-content: center;
    margin-right: 1rem;
    }

  .vertical-wrapper{
    width: 90%;
    list-style: none;
    height: 70%;
  }

}

